.account-page {
  background-color: #464F53;
  padding: 90px 120px 120px 120px;
  color: #FFE4B9;
}

.account-title {
  font-family: 'Sansita', serif;
  font-size: 4.3rem;
  font-weight: 400;
  margin-bottom: 60px;
}

.account-container {
  max-width: 1400px;
}

.account-grid {
  display: flex;
  gap: 80px;
}

.account-box {
  flex: 1;
  border: 2px solid #FFE4B9;
  padding: 50px 60px 60px 60px;
  background-color: #5E5E5E;
}

.account-box h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 30px;
  color: #FFE4B9;
}

.account-box label {
  display: block;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  margin-bottom: 8px;
  margin-top: 20px;
  color: #FFE4B9;
}

.account-box input[type="text"],
.account-box input[type="password"],
.account-box input[type="email"] {
    /* I learned how to use types in css from
    https://www.w3schools.com/css/css_form_inputs.asp#:~:text=Styling%20Form%20Input%20Fields,font%2Dsize */
  width: 100%;
  height: 55px;
  background: transparent;
  border: 2px solid #FFE4B9;
  margin-bottom: 10px;
  padding: 0 15px;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
}

.remember-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0 30px 0;
}

.remember-row input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.remember-label {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.95rem;
}

.account-btn {
  font-family: 'Questrial', sans-serif;
  background: #FFE4B9;
  color: #464F53;
  border: none;
  padding: 18px 55px;
  border-radius: 40px;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  margin: 10px auto 25px auto;
}

.account-btn:hover {
  opacity: 0.9;
}

.forgot-link {
  display: block;
  text-align: center;
  color: #FFE4B9;
  text-decoration: underline;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.95rem;
}

.privacy-text {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 20px 0;
  color: #ffffff;
}