.arts-description {
  margin-bottom: 2rem;
}

.gallery-section {
  position: relative;
  padding: 4rem 0;
  overflow: hidden;
}

.gallery-section h2 {
  margin-bottom: 2rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* I learned how to use grid-template-columns from: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/grid-template-columns */
  gap: 1.5rem;
  position:relative;
  z-index: 1;
}

.gallery-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  border-radius: 6px;
}

.bg-block{
  position:absolute;
  opacity:0.95;
  z-index:0;
}

.bg-left{
  width:22rem;
  height: 8rem;
  left:-2rem;
  top:22rem;
  background: #A77C78;
}

.bg-right{
  width:22rem;
  height: 10rem;
  right:-2rem;
  top:12rem;
  background: #5D3636;
}

.bg-bottom{
  width:20rem;
  height: 15rem;
  right:-2rem;
  top:40rem;
  background: #FFE4B9;
}

@media (max-width: 900px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }
}