body {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  background-color: #b8978c;
  color: #ffffff;
}

.top-bar {
  background-color: #ffd0c1;
  height: 4rem;

  display: flex;
  align-items: center;
}

.top-bar-inner {
  width: 100%;
  padding: 0 2.25rem 3rem;

  font-size: 0.9rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar-inner a{
  font-family: 'Questrial', Arial, Helvetica, sans-serif;
  color: #433732;
  margin-top: 2.5rem;
}

.header-title {
    text-align: center;
    margin-left: 1rem;
}

.header-paragraph {
    text-align: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
}


section {
  margin-bottom: 1.5rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.element {
  padding: 2rem;
  border: 0.15rem solid #a77c78;
  background-color: #f1cece33;
  border-radius: 0.8rem;
}

h1 {
    font-size: 2rem;
    margin-top: 2rem;
}

h2 {
  font-size: 1.7rem;
  /* margin-top: 3rem; */
  margin-left: 1rem;
}

h3 {
  font-size: 1.4rem;
  margin-top: 1rem;
  font-family: "Helvetica", sans-serif;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

h5 {
  font-size: 0.8rem;
}

p {
  font-size: 0.8rem;
  width: 100%;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: black;
}

.main-nav a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  text-decoration: underline;
  transition: color 0.3s ease;
}

.main-nav a:focus {
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
}

.main-nav a img {
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
}

.main-nav a img:hover {
  border-bottom:1px solid black;
}

.main-nav a img:active {
  transform: scale(1.4);
  border-bottom: none;
}

.home-logo-img img,
.cart-logo-img img {
  width: 1.9rem;
  height: 1.9rem;
}

.cart article {
  margin-bottom: 1rem;
  display: flex;
  gap: 3rem;
  align-items: center;

  border: 0.08rem solid #ffffff81;
  background-color: #85625f7d;
  padding: 1rem;
  border-radius: 0.5rem;
}

.product-listing-img {
  display: block;
  width: 8rem;
  height: 8rem;

  flex-shrink: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-listing-img.strawberry {
  background-image: url("../Romantic_Strawberry_Cake.png");
}

.product-listing-img.cherry-blossom {
  background-image: url("../Cherry_Blossom_Girl_Cake.png");
}

.cart-summary {
  max-width: 26rem;
  margin-left: auto;
  padding: 1.5rem;

  border: 0.08rem solid #ffffff81;
  border-radius: 0.6rem;
  background-color: #75605f;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;

  font-size: 0.9rem;
}

.summary-row.total {
  margin-top: 1rem;
  padding-top: 0.75rem;
  border-top: 0.08rem solid #ddd;

  font-size: 1.1rem;
  font-weight: 600;
}

.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: #433732;
  background-color: #FFF;
  border-radius: 0.2rem;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  font-size: 0.9rem;
  outline: none;
}

.button-nav:hover, .button-nav:focus {
  background-color: #fad867;
}

.additional-description {
  margin-left: 1rem;
}