/* CONTACT SECTION */
.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 80px 8%;
  gap: 60px;
}

/* LEFT SIDE */
.contact-left h1 {
  font-family: 'Sansita', serif;
  margin-bottom: 40px;
  font-weight: 400;
  color: #FFE4B9;
  max-width: 10rem;
  font-size: 3rem;
  line-height: 3.75rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-size: 14px;
  text-transform: uppercase;
}

input,
textarea {
  background: transparent;
  border: 1px solid #e8d2a8;
  padding: 12px;
  margin-bottom: 25px;
  color: #e8d2a8;
  font-size: 14px;
}

textarea {
  resize: none;
}

button {
  width: 150px;
  padding: 12px;
  background: #e8d2a8;
  border: none;
  color: #4e5a5c;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #d8bf90;
}

/* RIGHT SIDE */
.contact-right {
  display: flex;
  align-items: center;
}

.info-box {
  border: 1px solid #e8d2a8;
  padding: 40px;
  min-width: 300px;
}

.info-box p {
  margin-bottom: 30px;
  line-height: 1.6;
}

.social h4 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-left h2 {
    font-size: 36px;
  }

  .info-box {
    width: 100%;
  }

}