.events-section {
  background-color: #464F53; 
  padding: 4rem 8%;
}

.events-label {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.events-label span {
  background-color: #F5D7B2;
  padding: 0.5rem 1.5rem;
  font-size: 0.875rem;
  letter-spacing: 0.125rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #464F53;
  font-weight: 500;
}

.events-label .line {
  flex: 1;
  height: 1px;
  background-color: #F5D7B2;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 4rem;
}

.event-card {
  border: 1px solid #F5D7B2;
  text-align: left;
  padding: 2rem;
  color: #F5D7B2;
  transition: 0.3s ease;
}

.event-card h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-left: 0rem;
  margin-top: 1rem;
  font-family: 'Sansita', serif;
}

.event-card h3 {
  margin-bottom: 1rem;
  font-weight: 600;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

.event-card p {
  font-family: 'Questrial', serif;
  font-size: 1rem;
  color: white;
  line-height: 1.4;
}

/* subtle hover */
.event-card:hover {
  background-color: rgba(245, 215, 178, 0.1);
  transform: translateY(-4px);
}

@media (max-width: 56.25rem) {
  .events-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 37.5rem) {
  .events-grid {
    grid-template-columns: 1fr;
  }

  .events-header h1 {
    font-size: 2rem;
  }
}

