* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #FFE4B9;
    /* top bottom left right padding */
    padding: 1rem 3.75rem;
 
}

.navbar {
    background-color: #FFE4B9;
    padding: 1rem 3.75rem;
    font-family: 'Alegreya Sans SC', sans-serif; 
}

/* Top Section */
.nav-top {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

/* Logo */
.logo img {
    width: auto;
    height: 5rem; 
    display: block;
    margin: 0 auto;
}

/* Icons */
.nav-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem; 
    margin-right: 0; 
}

.nav-icons img {
    height: 1.8rem;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.nav-icons img:hover {
    opacity: 0.6;
}

/* Bottom Links */
.nav-links {
    margin-top: 1.6rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.nav-links a:hover {
    opacity: 0.7;
}

/* hover animation */
/* tutorial from: https://www.youtube.com/watch?v=UpJyCDEXEtc */
.nav-links a {
    position: relative; 
    text-decoration: none;
    color: #475053;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 0.875rem; 
    letter-spacing: 0.125rem; 
    text-transform: uppercase;
    transition: opacity 0.3s ease;
}

/* Fade on hover/focus */
.nav-links a:hover,
.nav-links a:focus {
    opacity: 0.7;
}

/* Bottom line animation for nav links */
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2rem; 
    width: 0;
    height: 2px;
    background-color: #475053;
    transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a:focus::after {
    width: 100%;
}

.nav-icons a {
    position: relative; 
    display: inline-block; 
}

.nav-icons a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2rem; 
    width: 0;
    height: 2px;
    background-color: #475053;
    transition: width 0.3s ease;
}

.nav-icons a:hover::after,
.nav-icons a:focus::after {
    width: 100%;
}

.nav-icons a:hover img,
.nav-icons a:focus img {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}


/* responsiveness */
@media (max-width: 48rem) {
    .nav-top {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    .nav-icons {
        justify-content: center;
    }

    .logo img {
        height: 4.375rem;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        margin-top: 1.25rem;
    }
}
  